
:root {
    background-color: rgb(30, 30, 30);
    font-size: var(--font-size);

    --font-size: 16px;
    --font-color: rgb(200, 200, 200);

    --visibility: hidden;
    --color: rgb(51, 113, 238);
    --glowColor: rgb(51, 113, 238);

    --scrollbar: rgb(70, 70, 70);
    --scrollbar-shadow: rgba(34, 34, 34, 0.7);
    --scrollbar-shadow-active: rgba(54, 54, 54, 0.7);
    --scrollbar-highlight: rgba(152, 152, 152, 0.7);
    --scrollbar-highlight-active: rgba(172, 172, 172, 0.7);
    --scrollbar-width: 0.75rem;
    --web-scrollbar-width: 0.75rem;

    --warning-bckg: rgb(30, 30, 30);
    --warning-border: rgb(0, 0, 0);
    --warning-display: block;

    --footer-bckg: rgb(20, 20, 20);
    --footer-border: rgb(30, 30, 30);

    --sidebar-bckg: rgba(40, 40, 40, 0.982);

    --unspecified: inline;
    --feminine: none;
    --masculine: none;
    --neutral: none;
    --postgender: none;

    --ex-polish: rgb(226, 140, 229);
    --ex-polish-hov: rgb(234, 167, 236);
    /* ^^ not used anywhere!! */
    --light-blue: rgb(139, 203, 213);
    --lighter-blue: rgb(188, 241, 249);
    --link-shadow: 0.1rem 0.1rem 0.01rem black;

    --purple-glow: #6B3FBD;
    --blue-glow: #347DDE;
    --green-glow: #31C69E;
    --purple-alfa: #6b3fbdac;
    --blue-alfa: #347DDEac;
    --green-alfa: #31C69Eac;
    /* --blue-glow: rgba(30, 172, 191, 0.7); */

    --dark-blue: rgba(25, 0, 255, 0.6);
    /* rgba(76, 61, 209, 0.6) */
    --option-current: rgba(183, 235, 250, 0.085);
    --temporary: rgb(101, 253, 218);

    --low: none;
    --high: none;
}

.reduced-motion {
    scroll-behavior: auto;
    transition: none !important;
}

:root.light {
    --light-blue: rgb(2, 91, 168);
    --lighter-blue: rgb(3, 123, 251);

        
    /* --purple-glow: rgb(216, 133, 255);
    --pink-glow: rgb(251, 145, 255);
    --green-glow: rgb(130, 255, 153);
    --blue-glow: rgb(169, 245, 255); */
    --purple-glow: rgba(0, 0, 0, 0.5);
    --pink-glow: rgba(0, 0, 0, 0.5);
    --green-glow: rgba(0, 0, 0, 0.5);
    --blue-glow: rgba(0, 0, 0, 0.5);
}

* {
    color: var(--font-color); 
    line-height: 1.5em;
    background-color: inherit;
    font-size: inherit;
    font-family: 'Futura', 'Helvetica', 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    scrollbar-width: var(--scrollbar-width);
    overflow: auto;
}

.reduced-motion {
    scroll-behavior: auto;
    transition: none !important;
}


.light {
    color: rgb(10, 10, 10);
    background-color: rgb(255, 255, 255);
}

body {
    background-image: url("background1.png");
    background-attachment: fixed;
}

::selection {
    color: rgb(20, 20, 20);
    background-color: var(--light-blue);
    /* background-color: rgba(113, 183, 237, 0.7); */
    /* text-shadow: 2px 2px 2px rgba(175, 28, 160, 0.7); */
    text-shadow: none;
}

::-webkit-scrollbar {
    background: rgba(30, 30, 30);
    width: var(--web-scrollbar-width);
    box-shadow: inset 1px 0px rgb(100, 100, 100);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 10px;
    box-shadow: inset -3px -3px 3px var(--scrollbar-shadow), inset 3px 3px 3px var(--scrollbar-highlight);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(90, 90, 90);
    box-shadow: inset -3px -3px 3px var(--scrollbar-shadow-active), inset 3px 3px 3px var(--scrollbar-highlight-active);
}

.unspecified {
    display: var(--unspecified);
    font-size: inherit;
}

.feminine {
    display: var(--feminine);
    font-size: inherit;
}

.masculine {
    display: var(--masculine);
    font-size: inherit;
}

.neutral {
    display: var(--neutral);
    font-size: inherit;
}

.postgender {
    display: var(--postgender);
    font-size: inherit;
}

#lan {
    display: var(--neutral-language);
}

.to-main {
    position: fixed;
    left: -1000px;
    top: 0;
}

.to-main:focus {
    left: 0.5rem;
    top: 0.5rem;
    padding: 0.25rem;
    text-decoration: none;
    z-index: 400;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10;
    height: 3.25rem;
    min-height: 55px;
    width: 100vw;
    background-color: rgba(45, 45, 45, 0.97);
    border-bottom: solid 1px rgba(90, 90, 90, 0.97);
    box-shadow: 0px 7px 10px rgba(20, 20, 20, 0.95);
    display: flex;
    align-items: center;
    justify-content:space-between;
    overflow: hidden;
}

header::-webkit-scrollbar {
    display: none;
}

#title {
    display: none;
}

.title {
    /* text-transform: uppercase; */
    color: rgb(230, 230, 230);
    text-decoration: none;
    display: inline;
    /* float: inline-end; */
    background-color: transparent;
    /* padding: 0.25rem; */
    /* margin-top: 0.25rem;
    margin-bottom: 0.25rem; */
    /* margin: 10px 1rem; */
    margin: 0.5rem;
    /* font-size: min(6vw, 40px); */
    /* transition: text-shadow 1s, color 1s; */
    /* transition: background-image 1s, -webkit-text-fill-color 1s; */
}

/* .title:hover { */
    /* background-image: url(plural-journey-flag.png);
    background-size: 20rem 1.25rem;
    background-position: 0% -25%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; */
    /* text-shadow: 0.05rem 0.05rem 0.05rem rgba(175, 28, 160, 0.7), 0.1rem 0.1rem 0.1rem rgba(174, 15, 199, 0.7),
    0.15rem 0.15rem 0.15rem rgba(131, 20, 200, 0.7), 0.2rem 0.2rem 0.2rem rgba(29, 18, 114, 0.7),
    0.25rem 0.25rem 0.25rem rgba(28, 160, 175, 0.7), 0.3rem 0.3rem 0.3rem rgba(28, 175, 114, 0.7); 
    0px -0.5rem 0.05rem #6B3FBD, 0px -1rem 0.1rem #347ede,
    0px -1.5rem 0.15rem #31c69e, 0px -2rem 0.2rem #000000,
    0px -2.5rem 0.25rem #31c69e, 0px -3rem 0.3rem #347ede,
    0px -3.5rem 0.35rem #6b3fbd;*/
    /* color: var(--purple-glow);
    text-shadow: 0.05rem 0.05rem 0.05rem #347ede, 0.1rem 0.1rem 0.05rem #31c69e,
    0.15rem 0.15rem 0.05rem black, 0.2rem 0.2rem 0.05rem #31c69e,
    0.25rem 0.25rem 0.05rem #347ede, 0.3rem 0.3rem 0.05rem #6B3FBD;
} */

.logo {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.upper, .down, .left, .right {
    stroke: var(--font-color);
    fill: transparent;
    stroke-width: 0.08em;
    r: 30%;
}

.upper {
    cx: 50%;
    cy: 32%;
}

.down {
    cx: 50%;
    cy: 68%;
}

.left {
    cx: 32%;
    cy: 50%;
}

.right {
    cx: 68%;
    cy: 50%;
}

div.logo::before{
    content: "";
    background-image: url(plural-journey-rings.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s, filter 1s;
}

.reduced-motion div.logo::before{
    transition: none !important;
}

.title:hover div.logo::before, .title:focus div.logo::before {
    opacity: 1;
    /* filter: drop-shadow(var(--link-shadow)); */
}

.colored {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: -30px;
}

/* .settings.mobile{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
} */

/* .settings.desktop {
    display: none;
} */

.settings img  {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 30px;
    min-height: 30px;
}

form.search {
    border: solid 2px rgb(110, 110, 110);
    border-radius: 1.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: 0.5rem;
    height: 2.25rem;
    transition: background-color 0.5s, border-color 0.5s, box-shadow 0.5s;
}

form.search:has(input.search:hover), form.search:has(button.search:hover)  {
    background-color: rgb(30, 30, 30);
    box-shadow: 0px 0px 3px 3px var(--dark-blue);
    border-color: var(--dark-blue);
}

form.search:has(input.search:focus-visible)  {
    background-color: rgb(20, 20, 20);
    box-shadow: 0px 0px 3px 3px var(--light-blue);
    border-color: var(--light-blue);
}

input.search, button.search {
    border: none;
    display: inline-block;
    height: 1.5rem;
    vertical-align: middle;
}

button.search {
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.1rem;
    width: 1.5rem;
    overflow: visible;
    border-radius: 50%;
}

button.search svg {
    transition: filter 0.5s, stroke-width 0.5s;
    stroke-width: 0.1rem;
    stroke: var(--font-color);
    margin-left: 0.25rem;
}

button.search circle {
    fill: transparent;
}

button.search line {
    stroke-linecap: round;
}

button.search:hover svg {
    /* background-color: rgb(70, 70, 70); */
    filter: drop-shadow(var(--link-shadow));
    stroke-width: 0.13rem;
}

input.search {
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: min(30vw, 200px);
}

input.search:focus-visible {
    outline: none;
}

/* WOOOOOODAAAAAAAAAAAAAAAAAAAAAAAAAAA - Kompsognat */

.menu-icon, .settings {
    border: 0px;
    border-radius: 50%;
    margin: 10px;
    width: 2rem;
    height: 2rem;
    min-width: 45px;
    min-height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.menu {
    stroke: var(--font-color);
    stroke-width: 0.25rem;
    stroke-linecap: round;
}

.settings {
    margin-right: 1.5rem;
}

.menu-icon:hover, .menu-icon:focus, .settings:hover, .settings:focus {
    /* background-color: rgb(70, 70, 70); */
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 0px 0.2rem 0.2rem var(--dark-blue);
    /* filter: drop-shadow(var(--link-shadow)); */
}

.menu-icon:active {
    transition: transform 0.25s;
    /* background-color: rgb(40, 40, 40); */
    background-color: rgb(20, 20, 20);
    box-shadow: 0px 0px 0.2rem 0.2rem var(--light-blue);
    /* transform: rotate(0.5turn); */
    transform: rotateY(180deg);
}

.menu-icon img{
    width: 1.25rem;
    height: 1.25rem;
    min-width: 25px;
    min-height: 25px;
}

.divider {
    display: flex;
    align-items: center;
    /* padding-left: 0.5rem; */
    width: max-content;
}

.sidebar {
    visibility: hidden;
    position: fixed;
    top: 0%;
    left: calc(-1 * min(400px, 100vw));
    z-index: 100;
    height: 100vh;
    min-width: min(400px, 100vw);
    max-width: min(400px, 100vw);
    background-color: var(--sidebar-bckg);
    border-right: solid 1px rgba(110, 110, 110, 0.982);
    /* box-shadow: 2px 0px rgba(45, 45, 45, 0.9), 5px 0px 5px rgba(76, 61, 209, 0.3); */
    transition: 250ms 0.1s ease-in-out;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* PIJCIE ALBO BĘDĘ KRZYCZEĆ - Kompsognat */

.sidebar.open {
    visibility: visible;
    left: 0px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.menu-options {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    background-color: transparent;
}

.option {
    display: block;
    margin: 1rem auto;
    padding: 0.6rem;
    width: 90%;
    text-decoration: none;
    font-size: 1.5rem;
    border: solid 2px rgb(110, 110, 110);
    border-radius: 1.25rem;
    transition: backgroud-color 0.5s, box-shadow 0.5s, border-color 0.5s;
    background-color: transparent;
    overflow: hidden;
}

.option:hover, .option:focus {
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 0px 5px 5px var(--dark-blue);
    border-color: var(--dark-blue);
}

.option.current {
    background-color: rgb(20, 20, 20);
    box-shadow: 0px 0px 5px 5px var(--light-blue);
    border-color: var(--light-blue);
}

.option.subsection {
    width: 85%;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.subsections {
    border-radius: 20px;
    width: 90%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

/* MACIE PIĆ I TO NIE JEST ŻART - Kompsognat */

footer {
    border-top: solid 10px var(--footer-border);
    margin: 10rem max(-5rem, -5vw) 0px max(-5rem, -5vw);
    padding: 2rem min(5rem, 5vw) 2rem min(5rem, 5vw);
    background-color: var(--footer-bckg);
    box-shadow: 0px -0.5rem 0.05rem #6B3FBD, 0px -1rem 0.1rem #347edeed,
    0px -1.5rem 0.15rem #31c69ee3, 0px -2rem 0.2rem #000000c0,
    0px -2.5rem 0.25rem #31c69e9d, 0px -3rem 0.3rem #347ede71,
    0px -3.5rem 0.35rem #6b3fbd5c;
}

footer p, footer a {
    font-size: 0.9rem;
}

address {
    font-style: normal;
    margin: 0;
}

.flex {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.name {
    /* color: rgb(255, 137, 137); */
    /* text-shadow: 0.05rem 0.05rem 0.15rem rgb(0, 0, 0), 
    0.1rem 0.1rem 0.15rem rgba(249, 13, 13, 0.7), 0.15rem 0.15rem 0.15rem rgba(250, 161, 6, 0.7),
    0.2rem 0.2rem 0.15rem rgba(246, 239, 31, 0.7), 0.25rem 0.25rem 0.15rem rgba(14, 124, 4, 0.7),
    0.3rem 0.3rem 0.15rem rgba(5, 46, 168, 0.7), 0.35rem 0.35rem 0.15rem rgba(98, 2, 146, 0.7); */
    text-shadow: 0.05rem 0.05rem 0.15rem rgb(0, 0, 0),
    0.1rem 0.1rem 0.1rem #E50000, 0.15rem 0.15rem 0.1rem #FF8D00,
    0.2rem 0.2rem 0.1rem #FFEE00, 0.25rem 0.25rem 0.1rem #028121,
    0.3rem 0.3rem 0.1rem #347DDE, 0.35rem 0.35rem 0.1rem #770088;
}

figure {
    margin: 4rem auto;
    padding: 1.5rem;
    width: 90%;
    border: none;
    /* border: solid 2px rgb(110, 110, 110); */
    border-radius: 1.25rem;
    box-shadow: 0px 0px 0.25rem 0.25rem var(--dark-blue), inset 0px 0px 1.25rem 0.5rem rgba(5, 5, 5, 1);
}

figure .img {
    margin: auto;
    margin-bottom: 1rem;
    width: 250px;
    height: 250px;
    border-radius: 1rem;
}

figure p, figcaption {
    background-color: rgb(20, 20, 20);
    padding: 0.5rem;
    border-radius: 1rem;
}

/* .source {
    word-break: break-all;
} */

img {
    background-color: transparent;
    display: block;
}

#rings {
    filter: invert(0.884);
}

#flag {
    width: 250px;
    object-fit: scale-down;
    height: auto;
    border: solid 3px rgb(120, 120, 120);
    border-radius: 0%;
}

#treblesand {
    height: auto;
    filter: invert(0.8);
}

button {
    background-color: transparent;
} 

.glowingButton {
    background-color: rgb(45, 45, 45);
    display: block;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}

/* To trzeba przenieść do innego pliku - Jonatan 
Ale czy nam się chce? - Tomek
Wygląda na to, że nie - Jonatan */

.glowingButton:hover, .glowingButton:active {
    background-color: rgb(55, 55, 55);
    box-shadow: 0px 0px 0.25rem 0.25rem var(--purple-glow);
}

/* PIJCIE BO SIĘ ZDENERWUJĘ - Kompsognat */

.swipedLeft {
    display: none;
}

.swipedRight {
    display: none;
}

.arrow {
    position: absolute;
    /* top: -8rem; */
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border-left: solid 0.75rem var(--font-color);
    border-bottom: solid 0.75rem var(--font-color);
    border-right: none;
    border-top: none;
    border-radius: 0.25rem;
}

#arrowLeft {
    transform: rotate(45deg);
}

#arrowRight {
    margin-left: 55%;
    transform: rotate(225deg);
}

div[id^="question"]{
    width: 90%;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    /* margin-top: 6rem; */
    /* When arrows functional should be 6 */
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

div[id^="question"] p:first-of-type{
    font-size: 1.25rem;
}

div[id^="question"] p:last-of-type{
    text-align: center;
    font-size: 0.75rem;
}

.scores {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.score {
    cursor: pointer;
    position: relative;
    padding: 0.4rem 0.4rem 0.4rem 2.25rem;
    z-index: 0;
}

p.results {
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#low {
    display: var(--low);
}

#high {
    display: var(--high);
}
/* paragraphs with information depending on wheter test score is low or high */

.description {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 0.4rem 0.4rem 0.4rem 2.25rem;
    margin: 1.5rem;
    z-index: 0;
}

.setting {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

.radio {
    position: absolute;
    top: 0.5rem;
    left: 0.4rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: rgb(45, 45, 45);
    border: solid 0.1rem var(--font-color);
    transition: 0.5s;
}

/* WODA WODA WODA WODA - Kompsognat */

.setting:hover ~ .radio {
    box-shadow: 0px 0px 0.2rem 0.2rem var(--blue-glow);
    /* was pink-glow */
    background-color: rgb(70, 70, 70);
}

/* COŚ ZJEŚĆ TEŻ WAM NIE ZASZKODZI - Kompsognat */

.setting:checked ~ .radio::after{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: rgb(220, 220, 220);
    box-shadow: 0px 0px 0.5rem 0.2rem var(--dark-blue);
}

.setting:checked ~ .radio {
    box-shadow: 0px 0px 0.2rem 0.2rem var(--dark-blue);
}

.box-setting {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

.checkbox {
    position: absolute;
    top: 0.5rem;
    left: 0.4rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 5%;
    background-color: rgb(45, 45, 45);
    border: solid 0.1rem var(--font-color);
    transition: 0.5s;
}

.box-setting:hover ~ .checkbox {
    box-shadow: 0px 0px 0.2rem 0.2rem var(--blue-glow);
    /* was pink glow */
    background-color: rgb(70, 70, 70);
}

.box-setting:checked ~ .checkbox::after{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%) rotate(0.125turn);
    top: 40%;
    left: 50%;
    width: 0.5rem;
    height: 0.5rem;
    border-bottom: solid 0.15rem;
    border-right: solid 0.15rem;
    border-radius: 5%;
    background-color: rgba(220, 220, 220, 0);
}

.box-setting:checked ~ .checkbox {
    box-shadow: 0px 0px 1.25rem 1.25rem inset var(--dark-blue);
}

main {
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 15vh;
    padding-right: min(5rem, 5vw);
    padding-left: min(5rem, 5vw);
    border-right: solid 1px rgb(100, 100, 100);
    border-left: solid 1px rgb(100, 100, 100);
    box-shadow: 7px 0px 10px rgba(20, 20, 20, 0.95), -7px 0px 10px rgba(20, 20, 20, 0.95);
}

/* NAWODNIENIE JEST WAŻNE, KURDE - Kompsognat */

.warning {
    display: var(--warning-display);
    border: dashed;
    border-radius: 0.2rem;
    border-width: 8px;
    padding: 0.75rem;
    width: 80%;
    margin: 4rem auto;
    background-color: var(--warning-bckg);
    border-color: rgb(255, 0, 0);
    box-shadow:  0px 0px 0px 5px var(--warning-border), 0px 0px 50px 20px rgba(255, 0, 0, 0.8);
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem 0px rgb(0, 0, 0);
}

.warning a.internal{
    display: block;
    color: rgb(200, 0, 0);
    font-weight: 400;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    text-shadow: none;
}

.warning a.internal:hover{
    color: rgb(230, 0, 0);
    text-shadow: 0.1rem 0.1rem 0px rgb(0, 0, 0);
}

.contents {
    margin: 3rem auto;
    padding: 0.75rem;
    width: 90%;
    border: none;
    /* border: solid 2px rgb(110, 110, 110); */
    border-radius: 1.25rem;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 5px 5px var(--dark-blue), inset 0px 0px 20px 10px rgba(5, 5, 5, 1);
}

.contents a {
    display: block;
    /* width: max-content; */
    text-decoration: none;
    color: var(--font-color);
    border: solid 2px rgb(110, 110, 110);
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25rem;
    transition: 0.5s box-shadow, 0.5s background-color, 0.5s border-color;
}

.contents a:hover, .contents a:focus {
    background-color: rgb(20, 20, 20);
    box-shadow: 0px 0px 3px 3px var(--dark-blue);
    border-color: var(--dark-blue);
}

.contents div {
    border-radius: 20px;
}

div.third a, div.fourth a {
    width: 90%;
}

/* PIJCIE TĘ WODĘ - Kompsognat*/

div.second {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    /* border: solid 3px var(--pink-glow); */
    /* box-shadow: 0px 0px 10px 3px rgba(5, 5, 5, 1); */
}

div.third {
    width: 100%;
    /* border: solid 3px var(--green-glow); */
    /* background-color: rgba(5, 5, 10); */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;    
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
    /* box-shadow: 0px 0px 10px 3px rgba(5, 5, 5, 1); */
    box-shadow: 0px 0px 3px 3px var(--dark-blue), inset 0px 0px 20px 10px rgba(5, 5, 5, 1);
    /* border: solid 2px rgb(110, 110, 110); */
}

div.fourth {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    /* border: solid 3px var(--blue-glow); */
    /* background-color: rgba(40, 40, 40); */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    /* box-shadow: 0px 0px 10px 3px rgba(5, 5, 5, 1); */
    box-shadow: 0px 0px 2px 2px var(--dark-blue), inset 0px 0px 20px 10px rgba(5, 5, 5, 1);
    /* border: solid 2px rgb(110, 110, 110); */
}

.contents legend {
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0px rgb(0, 0, 0);
    text-overflow: clip;
}

legend {
    background-color: transparent;
    font-size: 1.2rem;
    max-height: 1.8rem;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* WODA DO CHOLERY JASNEJ - Kompsognat*/

.shadow {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    margin: 0px 0px;
    z-index: 200;
}

#sidebar-shadow {
    z-index: 50;
}

.shadow.visible {
    visibility: visible;
}

h1, h2, h3, h4 {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 1.5em auto 1.5em auto; 
    font-size: min(2rem, 40px);
    background-color: transparent;
    border-radius: 10px;
}

h1 p {
    font-weight: normal;
    text-shadow: none;
    text-align: center;
}

.target {
    position: relative;
    top: -20vh;
}

.target:target + h2, .target:target + h3, .target:target + h4, .target:target + dfn, .target:target + li {
    animation: highlight 1s ease-in-out 1;
}

/* SIĘGAĆ PO SZKLANKĘ ALE JUŻ - Kompsognat 
Uwielbiam to, że to jest jedyna rzecz, która działa xD - Jonatan*/

h1 {
    font-weight: 900;
    text-shadow: 0.1em 0.1em 0.1em var(--purple-glow);
}

h2 {
    font-weight: 800;
    text-shadow: 0.1em 0.1em 0.1em var(--blue-glow);
    /* was pink-glow */
}

h3 {
    font-weight: 700;
    text-shadow: 0.1em 0.1em 0.1em var(--green-glow);
}

h4 {
    font-weight: 600;
    text-shadow: 0.1em 0.1em 0.1em var(--purple-glow);
    /* was blue-glow */
}

p {
    justify-content: center;
    margin: 1rem auto;
    text-align: left;
}

dfn {
    font-weight: bold;
    font-style: normal;
}

li {
    display: list-item;
    padding: 0.25rem 0.5rem;
    margin: 0px 1rem;
    overflow: visible;
}

ol.links li {
    margin: 0px 1.5rem;
    /* word-break: break-all; */
}

ol.links img {
    display: none;
}

i {
    font-style: italic;
}

sup {
    font-size: smaller;    
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
}

sup a.internal {
    font-size: smaller;
    text-decoration: none;
}

.internal, .external {
    color: var(--light-blue);
    transition: color 0.5s, text-shadow 0.5s;
    text-decoration: none;
    stroke: var(--light-blue);
    stroke-width: 0.08rem;
}

.internal.underline, .external.underline {
    text-decoration: underline;
}

.internal:hover, .internal:focus, .external:hover, .external:focus {
    color: var(--lighter-blue);
    text-shadow: var(--link-shadow);
    /* rgba(0, 0, 0, 0.4) */
    stroke: var(--lighter-blue);
}

b .external {
    stroke-width: 0.1rem;
}

/* .internal.underline:hover, .internal.underline:focus, .external.underline:hover, .external.underline:focus {
    text-decoration: underline rgb(0, 0, 0);
} */

symbol {
    display: none;
}

.hidden {
    display: none;
}

.ex {
    background-color: transparent;
    display: inline;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.25rem;
    stroke-linecap: round;
    transition: stroke 0.5s, filter 0.5s;
}

.external:hover .ex, .external:focus .ex {
    filter: drop-shadow(var(--link-shadow));
}

.num {
    text-decoration: none;
}

.for-aria {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: -1px;
    border: 0px !important;
    position: absolute;
    overflow: hidden;
}

/* .forimage {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin: 80px;
    padding: 80px;
    font-family: "Comic Sans";
    font-size: 40px;
    font-weight: 800; */
    /* text-shadow: 0.05rem 0.05rem 0.05rem rgba(175, 28, 160, 0.7), 0.1rem 0.1rem 0.1rem rgba(174, 15, 199, 0.7),
    0.15rem 0.15rem 0.15rem rgba(131, 20, 200, 0.7), 0.2rem 0.2rem 0.2rem rgba(29, 18, 114, 0.7),
    0.25rem 0.25rem 0.25rem rgba(28, 160, 175, 0.7), 0.3rem 0.3rem 0.3rem rgba(28, 175, 114, 0.7); */
    
    /* color: var(--purple-glow);
    text-shadow: 0.05rem 0.05rem 0.05rem #347ede, 0.1rem 0.1rem 0.05rem #31c69e,
    0.15rem 0.15rem 0.05rem black, 0.2rem 0.2rem 0.05rem #31c69e,
    0.25rem 0.25rem 0.05rem #347ede, 0.3rem 0.3rem 0.05rem #6B3FBD;
} */

.up {
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 900;
    
}

.cryterium {
    border-radius: 1.25rem;
    /* border: solid 2px rgb(110, 110, 110); */
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    font-style: italic;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 0.25rem 0.25rem var(--dark-blue);
    width: 80%;
}

#loading {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 5px dotted var(--blue-glow);
    /* border-right: 5px solid var(--blue-glow); */
    margin: auto;
    display: none;
    animation: none;
}

.animated {
    animation: rotate 1s ease-in-out infinite !important;
    display: block !important;
}

.searchResult {
    width: 90%;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.searchResult h2, .searchResult h3, .searchResult h4 {
    font-size: min(1.5rem, 36px);
    font-weight: 500;
    text-shadow: none;
}

.titleLink {
    display: block;
    font-size: min(2rem, 40px);
    font-weight: 500;
    /* text-decoration: none; */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: max-content;
    padding: 0.5rem;
    background-color: transparent;
    transition: text-shadow 0.5s, filter 0.5s;
}

.titleLink:hover {
    text-shadow: var(--link-shadow);
    filter: brightness(130%);
}

.titleLink.underline {
    text-decoration: underline;
}

.highlited {
    /* background-color: var(--dark-blue); */
    /* text-shadow: 0.05em 0.05em 0.05em var(--blue-glow); */
    /* box-shadow:  0px 0px 5px 5px  var(--blue-glow); */
    /* color: var(--green-glow); */
    /* filter: brightness(300%); */
    font-size: inherit;
    /* font-weight: inherit; */
    font-weight: 800;
    /* border-radius: 10px; */
    /* padding: 0.25rem; */
    /* margin-right: 0.25rem; */
    /* margin-left: 0.25rem; */
}

@keyframes rotate {
    from {
        transform: rotate3d(0);
    }
    to {
        transform: rotate3d(0, 1, 1, 360deg);
    }
}

@keyframes highlight {
    from {
        box-shadow: 0px 0px 5px 5px var(--light-blue);    
    }
    to {
        box-shadow: none;
    }
}


@media screen and (max-width: 720px) and (-webkit-min-device-pixel-ratio:0) {
    /* for reducing box-shadows on Chrome on mobile, because they cause the browser to lag */

}

@media (min-width: 720px) {

    * {
        scroll-behavior: auto;
    }

    #title {
        display: inline;
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;
        vertical-align: middle;
        transition: text-shadow 1s;
    }

    .title:hover #title, .title:focus #title {
        text-shadow: 0.1em 0.1em 0.1em black;
    }

    .contents {
        width: 60%;
    }

    figure {
        width: 60%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.75rem;
    }

}

@media (min-width: 1360px) {
    #title {
        font-size: 2rem;
    }
}


@media (min-width: 1250px) and (orientation: landscape){

    .menu-icon {
        display: none;
    }

    .option{
        font-size: 1rem;
    }

    .option.subsection {
        font-size: 0.9rem;
    }
    
    .sidebar {
        visibility: visible;
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 0;
        height: 100vh;
        min-width: 0px;
        max-width: 20vw;
        background-color: rgba(60, 60, 60, 0);
        border: none;
        transition: none;
    }

    main{
        width: 65vw;
        margin-left: 22vw;
        z-index: 10;
    }

    header{
        height: 3.25rem;
        z-index: 20;
        justify-content: space-between;
    }
/* 
    #title {
        font-size: 2rem;
        padding: 0.25rem 0.75rem;
    } */

    /* .settings.desktop {
        display: inline-flex;
        float: inline-end;
    } */
/* 
    .settings.mobile {
        display: none;
    } */

    /* figure.double {
        width: 80%;
    }

    figure.double .img {
        display: inline-block;
        margin-left: 5%;
    } */

}


@media (prefers-color-scheme: light) {

    :root {
        --warning-bckg: rgb(255, 255, 255);
        --warning-border: rgb(230, 230, 230);

        --footer-bckg: rgb(230, 230, 230);
        --footer-border: rgb(240, 240, 240);

        --sidebar-bckg: rgba(255, 255, 255, 0.92);

        --light-blue: rgb(7, 27, 155);
        --lighter-blue: rgb(23, 41, 158);
        --link-shadow: 0.05em 0.05em 0.1em rgb(0, 0, 0);

        --font-color: rgb(10, 10, 10);
        background-color: rgb(255, 255, 255);

    }

    ::selection {
        background-color: var(--blue-glow);
    }

    body {
        background-image: url(background2.png);
    }

    header {
        background-color: rgba(245, 245, 245, 0.97);
    }
    
    .menu-icon:hover, .menu-icon:focus, .settings:hover, .settings:focus  {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 0px 5px rgb(50, 50, 50);
    }
    
    .menu-icon:active {
        background-color: rgb(255, 255, 255);
    }

    .menu-icon img, .settings img {
        filter: invert(1);
    }

    #title {
        /* color: rgb(175, 28, 160); */
        color: var(--purple-glow);
    }

    .title:hover #title, .title:focus #title {
        text-shadow: var(--link-shadow);
    }

    /* .title:hover {
        text-shadow: 0.05rem 0.05rem 0.05rem rgb(0, 0, 0), 0.1rem 0.1rem 0.1rem rgb(174, 15, 199),
        0.15rem 0.15rem 0.15rem rgb(131, 20, 200), 0.2rem 0.2rem 0.2rem rgb(29, 18, 114),
        0.25rem 0.25rem 0.25rem rgb(28, 160, 175), 0.3rem 0.3rem 0.3rem rgb(28, 175, 114);
    } */

    .name {
        font-weight: 700;
        color: #222222;
        text-shadow: 0.05rem 0.05rem 0.15rem #E50000,
        0.1rem 0.1rem 0.1rem #FF8D00, 0.15rem 0.15rem 0.1rem #FFEE00,
        0.2rem 0.2rem 0.1rem #028121, 0.25rem 0.25rem 0.1rem #347DDE,
        0.3rem 0.3rem 0.1rem #770088;
    }

    .option:hover, .option:focus {
        box-shadow: 0px 0px 0px 0.25rem rgb(50, 50, 50);
        background-color: rgba(0, 0, 0, 0);
        border-color: rgb(110, 110, 110);
    }

    .option.current {
        background-color: var(--option-current);
        box-shadow: 0px 0px 0px 0.25rem rgb(0, 0, 0);
        border-color: rgb(110, 110, 110);
    }

    .subsections {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .warning, .warning legend {
        color: rgb(255, 0, 0);
        text-shadow: none;
    }

    .warning {
        border-style: solid;
        box-shadow: 0px 0px 0px 0.25rem var(--warning-border), 9px 9px 10px rgba(20, 20, 20, 0.95), 
        -9px 9px 10px rgba(20, 20, 20, 0.95);
    }

    .warning a.internal:hover{
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    }

    .contents {
        /* box-shadow: none; , -7px 0px 10px rgba(20, 20, 20, 0.95)*/
        box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.95), -7px 7px 10px rgba(20, 20, 20, 0.95);
    }

    .contents a:hover {
        box-shadow: 0px 0px 0px 3px rgb(50, 50, 50);
        background-color: rgb(255, 255, 255);
        border-color: rgb(110, 110, 110);
    }

    div.third, div.fourth {
        box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.95), -7px 7px 10px rgba(20, 20, 20, 0.95);
    }

    .contents legend {
        color: rgb(19, 0, 189);
        text-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0, 0.5);
    }

    figure {
        box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.95), -7px 7px 10px rgba(20, 20, 20, 0.95);
    }

    figure p, figcaption {
        background-color: rgb(230, 230, 230);
    }

    #rings {
        filter: none;
    }

    #treblesand {
        filter: none;
    }
/* 
    .ex {
        filter: hue-rotate(245deg) invert(1) brightness(1.25);
    } */

    .glowingButton {
        /* background-color: var(--light-blue); */
        background-color: transparent;
    }

    .glowingButton:hover, .glowingButton:focus {
        background-color: transparent;
        /* background-color: rgb(223, 222, 222); */
        box-shadow: 0px 0px 0px 0.25rem rgb(50, 50, 50);
    }

    div[id^="question"]{
        background-color: inherit;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(20, 20, 20, 0.95), -0.25rem 0.25rem 0.5rem rgba(20, 20, 20, 0.95);
    }

    h1, h2, h3, h4 {
        text-shadow: var(--link-shadow);
    }

    h1, h4{
        /* color: rgb(139, 32, 189); */
        color: var(--purple-glow);
    }

    h2 {
        /* color: rgb(175, 28, 160); */
        color: var(--blue-glow);
    }

    h3 {
        /* color: rgb(60, 160, 78); */
        color: var(--green-glow);
    }

    /* h4 {
        color: rgb(76, 171, 183);
    } */

    fieldset {
        box-shadow:  0px 0px 0px 5px rgb(180, 180, 180), 0px 0px 50px 20px var(--color);
    }

    ::-webkit-scrollbar {
        background: rgb(220, 220, 220);
    }

    ::-webkit-scrollbar-thumb {
        --scrollbar: rgb(190, 190, 190);
        box-shadow: inset -3px -3px 3px rgba(51, 51, 51, 0.7), inset 3px 3px 3px rgba(255, 255, 255, 0.9);
    }

    .radio {
        background-color: rgb(255, 255, 255);
        border: solid 0.1rem rgb(100, 100, 100);
    }

    .setting:hover ~ .radio {
        box-shadow: 0px 0px 0px 0.15rem rgb(50, 50, 50);
        background-color: rgb(255, 255, 255);
    }

    .setting:checked ~ .radio::after{
        background-color: rgb(100, 100, 100);
        box-shadow: none;
    }
    
    .setting:checked ~ .radio {
        box-shadow: none;
    }

    .checkbox {
        background-color: rgb(255, 255, 255);
        border: solid 0.1rem rgb(100, 100, 100);
    }

    .box-setting:hover ~ .checkbox {
        box-shadow: 0px 0px 0px 0.15rem rgb(50, 50, 50);
        background-color: rgb(255, 255, 255);
    }

    .box-setting:checked ~ .checkbox::after{
        border-color: rgb(100, 100, 100);
    }
    
    .box-setting:checked ~ .checkbox {
        background-color: rgb(220, 220, 220);
        box-shadow: none;
    }

    .cryterium {
        background-color: inherit;
        box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.95), -7px 7px 10px rgba(20, 20, 20, 0.95);
    }

    form.search:has(input.search:hover) {
        box-shadow: none;
        /* 0px 0px 0px 5px rgb(50, 50, 50) */
        background-color: transparent;
        border-color: var(--blue-glow);
    }

    form.search:has(input.search:focus-within) {
        background-color: transparent;
        box-shadow: none;
        /* 0px 0px 0px 5px rgb(0, 0, 0) */
        border-color: var(--purple-glow);
    }
    
    .searchResult {
        /* background-color: rgb(220, 220, 220); */
        background-color: inherit;
        box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.95), -7px 7px 10px rgba(20, 20, 20, 0.95);
    }

    .highlited {
        box-shadow: none;
        /* color: var(--blue-glow); */
        /* font-weight: 600; */
        padding: 0;
        margin: 0;
    }
}

@media (prefers-reduced-motion){
    *{
        scroll-behavior: auto;
        transition: none !important;
    }
    /* .menu-icon:active {
        transition: none;
    } */
}