#filters {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.filter {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0.4rem 0.4rem 0.4rem 2.25rem;
    margin: 1.5rem;
    margin-bottom: 0;
    z-index: 0;
}

li {
    margin-bottom: 1rem;
}

.sort {
    display: block;
    padding: 0.25rem;
    margin: 1rem;
    margin-left: 1.5rem;
    border-radius: 0.1rem;
    transition: box-shadow 0.5s, border-color 0.5s;
    cursor: pointer;
}

.sort:hover, .sort:focus {
    box-shadow: 0px 0px 0.25rem 0.25rem var(--dark-blue);
    border-color: var(--dark-blue);
}

@media (prefers-color-scheme: light){

    .sort:hover, .sort:focus {
        box-shadow: 0px 0px 0px 0.2rem rgb(50, 50, 50);
        border-color: rgb(110, 110, 110);
    }

}